html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

.header {
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
}

.cards {
    background-color: plum;
    border-radius: 10px;
}

.cards-menu {
    text-align: center;
}

.c1 {
    width: 50%;
}
.c2 {
    width: 50%;
}

.multicolumn {
    display: flex;
    align-items: start;
}

.card-1{
    width: 50%;
    background-color: purple !important;
    border: transparent;
    color: white;
}

.card-2{
    width: 50%;
    background-color: purple !important;
    border: transparent;
    color: white
}

.acard-1{
    color: white !important;
}

.acard-2{
    color: white !important;
}